/*

To change this license header, choose License Headers in Project Properties.

To change this template file, choose Tools | Templates

and open the template in the editor.

*/

/* 

    Created on : Jul 11, 2018, 10:25:52 PM

    Author     : Tan Pham

*/



.fa-pencil, .fa-trash{

    font-size: 18px;

}

.seipkon-content-wrapper{

    min-height: 100%;

}

#clock .time{

    font-size: 30px !important;

}

#content>.page-content{

    min-height: 100% !important;

}

.marrig5{

    margin-right: 5px;

    padding: 0 !important;

    margin-bottom: 0 !important;
	width: 16px!important;

}

/*#sidebar{

    width: 190px !important;

}

#content{

    width: calc(100% - 190px) !important;

}*/

.alert{

    margin-bottom: 0px !important;

}

.page-box{

    margin-top: 20px;

}

.pagination{

    margin-top: 0px !important;

}

.navi{

    text-align: center;

}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{text-transform: none !important;}

#input_feedback1, #textare_feedback{

    text-align: right;

}

.seipkon-breadcromb-left a{
    color: #03a9f3 !important;
    font-size: 14px;
    display: block;
}
.seipkon-breadcromb-left h3{
    float: left;
    display: block;
    margin-right: 30px;
}
.margin0{
    margin-bottom:0;
}
.abt--center {
    text-align: center !important;
}
.abt--right{
    text-align: right !important;
}
.red{
    color: red !important;
}
.content-header{
	margin-top: 15px;
}
.blockpro {
    width: 100%;
    display: inline-block;
	border-bottom: 1px solid #d2d2d2;
}
.select2-container{
	padding:0;
}
.blockpro .select2-choices{
	min-height: 38px!important;
    border: 0!important;
}
.order-table .table>tbody>tr>td{
	text-align:right;
}
#discount-total{float:right;}
.title-table{
	background:#ddd;
	padding:8px;
	height:34px;
}
.select2-search-field{
	width:1px;
}
div.required .control-label:not(span):before, td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
.table thead > tr > td, .table tbody > tr > td {
    vertical-align: middle;
}
.table thead td {
    font-weight: bold;
}
.table thead>tr>td, .table tfoot>tr>td{
	background:#fff;
}
button.btn>i {
    margin-right: 0;
}
.btn-newbie{
	 border-radius: 3px;
	 border: 1px solid #AB8CCD;
}
table#option-value td img{
	width:100px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    font-weight: bold;
    color: #333;
}
.nav-tabs {
    margin-bottom: 25px;
}
.tab-pane .form-group {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}
#seipkkon_tab_content #tab-option .form-group {
    display: flex;
}
#seipkkon_tab_content a[aria-expanded="true"]:before,.nav-pills a:before{
	content:'';
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #337ab7!important;
}
.no-padding-right{
	padding-right:0;
}
.no-margin{
	margin:0;
}
.nav-pills a{
	color:#337ab7;
}
body .select2-container--default .select2-selection--single{
	height: 40px;
}	
body .select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-top: 5px;
}
.block-trash{
	background-color: #fc2d42;
	padding: 6px 12px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
} 
.block-trash .fa-trash {
    font-size: 14px;
}
.opva{
	margin-bottom:4px;
}
@media (min-width: 768px){
	.form-horizontal .control-label {
		text-align: right;
		margin-bottom: 0;
		padding-top: 9px;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	label.control-label {
		text-align: right;
	}
}










