.blog_text > a:hover{
    text-decoration: none;
}
.cake_text sup{
    font-size: 14px;
    top: -0.7em;
    left: -0.2em;
}
.banner_text{
    min-height: 320px;
}
.product_details_text h1 {
  font-size: 36px;
  color: #3e606b;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.product_details_text h5{
    border-bottom: 1px solid #eaeaea;
}
.product_details_text h5 span{
    color: red;
}
.paddingtop40{
    padding-top: 40px;
}
.jteck-sidebar{
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed #f195b2;
}
.jteck-fullwidth{
    width: 100%;
}
.single_pest_title h1{
    font-size: 36px;
    color: #3e606b;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.our_bakery_text h1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #3e606b;
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: center;
}
.our_bakery_text h1:before{
    content: "";
    width: 40px;
    height: 1px;
    background: #acb2b4;
    position: absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.main_menu_two .navbar.navbar-expand-lg .navbar-nav li a:hover{
    text-decoration: none;
}
.f_link_widget .list_style li a:hover{
    text-decoration: none;
}
.p_catgories_widget .list_style li a:hover{
    text-decoration: none;
}
.order_s_btn{
    width: auto !important;
    line-height: 50px !important;
}
.cart_price{
    width: 50%;
}
a.icon--action{
    font-size: 30px;
}
.billing_form .form-group .product_select .list{
    overflow-y: scroll;
    height: 300px;
}
.font--red, .font--red > span{
    color: red !important;
}
.nice-select{
    float: none !important;
}
.notify--title{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #3e606b;
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: center;
}
.redirect--text{
    text-align: center;
    margin: 30px 0;
}
.redirect--text a{
    font-size: 24px;
    padding: 15px 20px;
    border-radius: 10px;
}