*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container, .box-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width:768px){
    .container, .box-container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container, .box-container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container, .box-container{
        width: 1170px;
    }
}
@media(min-width:1260px){
    .container {
        width: 1200px;
    }
}
body{font-family: 'Roboto', sans-serif; color: #666666; margin: 0; padding:0; font-size: 15px; line-height: 1.66; overflow-x:hidden; position: relative;}
ul{list-style: outside none none; margin: 0; padding: 0;}
a, a:hover, a:focus{text-decoration: none; outline: 0 none;}
button, button:hover, button:focus{outline: 0 none;}
a{color: #666666;}
a:hover, a:focus{color: #1B40BE;}
p{margin: 0 0 10px;}
img, iframe, video, table{max-width:100%;}
header.main-header{padding:15px 0; position: relative;}
header.main-header .logo{text-align: center; margin: 0 0 15px; position: relative; z-index: 100;}
header.main-header .main-menu{text-align: center;}
header.main-header .main-menu >ul{text-align: center;}
header.main-header .main-menu ul >li{display: inline-block; padding:0 15px;}
header.main-header .main-menu ul >li >a{text-transform: uppercase; letter-spacing: 1px;}
header.main-header .main-menu >ul, header.main-header .main-menu >.social-right{display: inline-block; vertical-align: middle;}
header.main-header .main-menu > .social-right{float: right;}
.slideshow .list-slide .item{position: relative;}
.slideshow .list-slide .item .content-item{position: absolute; content: ""; left:50%; top:50%; -webkit-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%); width:100%;}
.slideshow .list-slide .item .content-item h2.title{font-family: 'Playfair Display'; font-size: 120px; text-transform: capitalize; margin: 0 0 40px; 
    text-align: center; color:#fff; line-height: 113px;}
.slideshow .list-slide .item .content-item a.btn-detail{background: #5b5b5b; padding:10px 30px; text-transform: uppercase; color:#fff; font-size: 14px; text-align: center;
    border-radius: 20px; display: inline-block;  letter-spacing: 2px;}
.slideshow .list-slide .item .content-item{text-align: center;}
.content .intro{background: #f4f4f4; padding:65px 0 145px; text-align: center;}
.content .intro .box-container{width:40%;}
.content .intro h2.title{font-size: 60px; font-family: 'Playfair Display'; margin: 0 0 30px; color: #5b5b5b; line-height: normal; font-weight: normal;}
.content .intro p{font-size: 15px; margin: 0;}
.list-class .box-container >ul{width:80%; margin: 0 auto;}
.list-class .list-top.item{margin-top: -100px;}
.list-class .item .image{position: relative;}
.list-class .list-top.item .image >img{width: 100%; display: block;}
.list-class .list-top.item .image{text-align: center;}
.list-class .item{margin: 0 0 20px; position: relative;}
.list-class .item .content{padding: 30px 0 0 30px;}
.list-class .item .content h3.title{margin: 0 0 30px; padding:0 0 10px; position: relative; color: #333333; font-size: 36px; font-family: 'Playfair Display';
    font-weight: normal;}
.list-class .item .content h3.title::after{position: absolute; content:""; border-bottom:3px solid #5b5b5b; height:3px; width:102px; bottom: 0; left:0;}
.list-class .item .content p{margin: 0 0 40px;}
.list-class .item .content .btn-detail{background: #5b5b5b; color: #fff; text-transform: uppercase; letter-spacing: 2px; border-radius: 20px; display: inline-block;
    text-align: center; font-size: 14px; padding:10px 30px;}
.list-class .item .arrow{position: absolute; content: ""; display: -webkit-box; display: -ms-flexbox; display: flex; align-items: center;}
.list-class .list-top.item .arrow{left:-200px; bottom:0; -webkit-transform: rotate(-90deg) translate(45%,-50%); transform: rotate(-90deg) translate(45%,-50%);}
.list-class .item .arrow img{object-fit: contain; height:15px;}
.list-class .item .arrow span.content-arrow{font-size: 25px; letter-spacing: 2px; text-transform: uppercase; color:#333333;}
.list-class .item .arrow span.content-arrow, .list-class .item .arrow img{display: inline-block; vertical-align: middle;}
.list-class .list-content.item{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;}
.list-class .list-content.item >*{position: relative; padding: 0 15px; min-height:1px; width:100%;}
.list-class .list-content.item:nth-child(2n){flex-direction: row-reverse;}
.list-class .list-content.item .image{margin-top: -100px;}
.list-class .list-content.item:nth-child(2) .image{margin-top: 0;}
.list-class .list-content.item .image >img{width:100%;}
.list-class .list-content.item:nth-child(2n) .arrow{right:-30px; bottom:8px; -webkit-transform: rotate(-90deg) translate(100%,0); transform: rotate(-90deg) translate(100%,0); transform-origin: bottom right;}
.list-class .list-content.item:nth-child(2n+1) .arrow{left:0; bottom:8px; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); transform-origin: left bottom;}
.list-class .list-content.item:nth-child(2n) .content{text-align: right;}
.list-class .list-content.item:nth-child(2n) .content h3.title::after{left:auto; right:0;}
.list-gallery{margin: 50px 0 40px 4px;}
.list-gallery h2.title, .feedback-hv h2.title, .recently-course h2.title, .other-services h2.title, .relate-article h2.title{text-align: center; padding:0 0px 15px; 
        margin: 0 0 50px; position: relative; font-size:35px; font-family: 'Playfair Display'; font-weight: normal; line-height: normal; color:#333;}
.list-gallery h2.title::after, .feedback-hv h2.title::after, .recently-course h2.title::after, .other-services h2.title::after, .relate-article h2.title::after{position: absolute; content: ""; 
    width:120px; border-bottom: 1px solid #9d9d9d; bottom: 0; left:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.list-gallery .gallery-item{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.list-gallery .gallery-item >*{position: relative; padding: 0 2px; min-height:1px; width:100%;}
.list-gallery .gallery-item >* a, .list-gallery .gallery-item >* a img{display: block;}
.list-gallery .gallery-item >* a{cursor: pointer;}
.list-gallery .gallery-item >.four-item.item img{height: auto;}
.list-gallery .gallery-item .four-item.item{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.list-gallery .gallery-item .four-item.item >*{position: relative; padding: 0 2px; min-height:1px; width:100%; margin: 0 0 4px;}
.list-gallery .gallery-item .four-item.item >a:nth-last-child(2), .list-gallery .gallery-item .four-item.item >a:last-child{margin: 0;}
/*.list-gallery .gallery-item .four-item.item >a:nth-last-child(2) img, .list-gallery .gallery-item .four-item.item >a:last-child img{height:100%;}*/
footer.site-footer{background: #f4f4f4; padding:30px 0 40px;}
footer.site-footer .group-footer{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -15px;}
footer.site-footer .group-footer >*{position: relative; padding: 0 15px; min-height:1px; width:100%;}
footer.site-footer .group-footer .footer-top{padding-bottom: 70px; border-bottom: 1px solid #d8d8d8; display: -webkit-box; display: -ms-flexbox; display: flex;
    align-items: center;}
footer.site-footer .group-footer .footer-top .logo-footer{padding-right:25px;}
footer.site-footer .group-footer .footer-top .content-address ul{padding-left:25px;}
footer.site-footer .group-footer .footer-top .content-address ul li{text-indent: -30px;}
footer.site-footer .group-footer .footer-top .content-address img{padding-right:15px;}
footer.site-footer .group-footer .footer-copyright{padding:15px 15px 0 15px;}
footer.site-footer .group-footer .footer-copyright p{margin: 0; font-size: 14px;}
footer.site-footer .group-footer >.footer-map h2.title{margin: 0 0 20px; font-weight: normal; margin: 0 0 20px; font-size: 15px;}
.desktop{display: block;}
.mobile{display: none;}
.menu-btn{display: none;}
.list-slide .owl-nav, .list-feedback .owl-nav{position: absolute; content: ""; top:50%; left:50%; width: 100%; transform: translate(-50%,-50%); 
    -webkit-transform: translate(-50%,-50%); height: 50px; margin-top: 0 !important;}
.list-slide .owl-nav button, .list-feedback .owl-nav button{position: absolute; content:""; width:40px; height:40px;}
.list-slide .owl-nav button::before, .list-feedback .owl-nav button::before{position: absolute; content:""; width: 40px; height: 40px; background: rgba(255,255,255,0.5);
    -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); text-align: center; left: 0; top:0;}
.list-slide .owl-nav button:hover, .list-feedback .owl-nav button:hover{background:transparent !important;}
.list-slide .owl-nav button.owl-prev, .list-feedback .owl-nav button.owl-prev{left:15px;}
.list-slide .owl-nav button.owl-next, .list-feedback .owl-nav button.owl-next{right:15px;}
.list-slide .owl-nav button i, .list-feedback .owl-nav button i{color:#fff; font-size: 30px;}
/* Dịch Vụ */
.banner-top .image.margin-30{margin: 0 0 30px;}
.banner-top .content{text-align: center; width:90%; margin: 0 auto;}
.banner-top .content h1.title{font-family: 'Playfair Display'; font-size: 110px; margin: 0 0 30px; font-weight: normal; position: relative; line-height: normal;}
.banner-top .content h1.title::before, .banner-top .content h1.title::after{content: ""; position: absolute; width:25px; height:25px; background: #5b5b5b;
    -webkit-transform: rotate(-90deg) translate(-50%,0); transform: rotate(45deg) translate(-50%,0); top:50%;}
.banner-top .content h1.title::before{left:0;}
.banner-top .content h1.title::after{right:0;}
.banner-top .content p{margin: 0;}
.list-gallery .gallery-item >.item a img{height:718px; object-fit: cover;}
.list-gallery .gallery-item >.four-item.item a img{height:357px; object-fit: cover;}
.services .list-gallery{margin-bottom: 0;}
.feedback-hv{background: #f4f4f4; padding:55px 0;}
.list-feedback .item{display: -webkit-box; display: -ms-flexbox; display: flex; width:90%; margin: 0 auto;}
.list-feedback .item .image img{width:auto; height: 200px; object-fit: contain;}
.list-feedback .item .image{min-width:200px; padding-right:20px;}
.list-feedback .owl-nav button::before, .list-feedback .owl-nav button::after{background: rgba(230,230,230,1);}
.list-feedback .owl-nav button i{color: #afafaf; z-index: 2; position: relative;}
.list-feedback .owl-nav button i::before{position: absolute; text-align: center; top: 15px; left: -10px; width:15px; height:26px; background-repeat: no-repeat; content:"";}
.list-feedback .owl-nav button i.arrow-left::before{ background-image:url(../images/arrow-left.png);}
.list-feedback .owl-nav button i.arrow-right::before{background-image:url(../images/arrow-right.png); left:-5px;}
.list-feedback .owl-nav button.owl-prev{left:0;}
.list-feedback .owl-nav button.owl-next{right:0;}
.list-feedback .box-content{position: relative;}
.list-feedback .box-content::before, .list-feedback .box-content::after{content:""; position: absolute; background-repeat: no-repeat;}
.list-feedback .box-content::before{background-image: url("../images/quote-top.png"); width:46px; height:37px; top:10px; left:-50px;}
.list-feedback .box-content::after{background-image: url("../images/quote-bottom.png"); width:29px; height:24px; bottom:0; right:0;}
.list-feedback .box-content h3.name, .list-feedback .box-content h4.position{font-size: 15px; color:#333; font-weight:500;}
.list-feedback .box-content h3.name{margin: 0 0 0px;}
.list-feedback .box-content h4.position{margin: 0 0 30px;}
.list-feedback .box-content p{font-style: italic; color: #666666;}
.recently-course{padding:55px 0;}
.recently-course .box-course{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.recently-course .box-course >*{min-height: 1px; width:100%; position: relative;}
.recently-course .box-course >.content{border:1px solid #b7b7b7; background: #f4f4f4; padding: 45px 35px 35px;}
.recently-course .box-course > .image{position: relative;}
.box-course > .image .list-image .owl-dots{position: absolute; content: ""; bottom:15px; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);
    width:100%;}
.recently-course .box-course >.image img{display: block; height: 100%; object-fit: cover;}
.recently-course .box-course >.image img.bg-icon{position: absolute; content: ""; left:50%; bottom:15px; -webkit-transform: translate(-50%,0); 
    transform: translate(-50%,0); height: auto;}
.recently-course .box-course >.content h3.title{font-family: 'Playfair Display'; font-weight: bold; font-size: 36px; position: relative; padding:0 0 40px;
    margin: 0 0 20px; text-transform: uppercase; line-height: normal; color: #333;}
.recently-course .box-course >.content h3.title::after{content: ""; position: absolute; bottom:0; height:1px; width:100px; border-bottom: 1px solid #5b5b5b;
    left:0; bottom:0;}
.recently-course .box-course >.content .date{font-weight: 500; font-size: 18px; margin: 0 0 30px;}
.box-course .register{margin-top: 30px;}
.box-course .register .btn-register{text-transform: uppercase; font-size: 14px; text-align: center; padding:10px 50px; border:1px solid #5b5b5b; border-radius: 20px;
    color:#5b5b5b; letter-spacing: 2px;}
.other-services{padding: 0 0 55px;}
.other-services .list-service{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;}
.other-services .list-service >*{position: relative; padding: 0 15px; min-height:1px; width:100%; margin: 0 0 20px;}
.other-services .list-service .image{margin: 0 0 20px;}
.other-services .list-service h3.title{font-family: 'Playfair Display'; font-weight: normal; font-size: 36px; position: relative; color:#333; padding:0 0 20px; margin: 0 0 20px;
    line-height: normal;}
.other-services .list-service h3.title::after{content:""; position: absolute; height:1px; width:100px; border-bottom: 1px solid #5b5b5b; left:0; bottom:0;}
.other-services .list-service .group-btn{margin: 35px 0 0;}
.other-services .list-service .group-btn a{text-transform: uppercase; font-size: 14px; letter-spacing: 2px; padding:10px 25px; border:1px solid #5b5b5b; border-radius: 20px;
    display: inline-block; margin: 0 0 20px;}
.other-services .list-service .group-btn a.btn-detail{background: #5b5b5b; color:#fff; margin-right: 20px;}
.other-services .list-service .group-btn a.btn-register{color:#5b5b5b;}
.form-register.fancybox-content{padding:50px 30px 30px; min-width:320px;}
.form-register h2.title{font-size: 35px; font-weight: normal; font-family: 'Playfair Display'; margin: 0 0 30px; text-align: center; line-height: normal;
    color:#333;}
.form-register .form-content .form-group{position: relative; margin-bottom: 15px; width:100%; display: -webkit-box; display: -ms-flexbox; display: flex; justify-content: space-between;}
.form-register .form-content .form-group label{width:120px; padding:0 20px 0 0; display: inline-block; font-size: 16px; margin: 0 0 5px;}
.form-register .form-content .form-group input, .form-register .form-content .form-group select{width:274px; height:40px; line-height:40px; padding:0 12px;
    border:1px solid #ebebeb; background: #ebebeb;}
.form-register .form-content .form-group select{-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none;
    padding: 0 32px 0 12px; text-transform: uppercase;}
.form-register .form-content .form-group select option{text-transform: uppercase; padding: 0 0 5px;}
.form-register .form-content .form-group.select::after{position: absolute; top: 15px; right: 10px; pointer-events: none; line-height: 41px; content:"";
    width: 0px; height: 0px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #d5d5d5;}
.form-register .form-content .form-group.submit{text-align: right; margin-top: 30px; display: block;}
.form-register .form-content .form-group.submit button{display: inline-block; text-transform: uppercase; font-size: 14px; text-align: center; padding: 10px 50px;
    border: 1px solid #5b5b5b; border-radius: 20px; color: #5b5b5b; letter-spacing: 2px; cursor: pointer;}
/* Galary Khách hàng */
.banner-top{position: relative;}
.galary-kh.banner-top .content, .news.banner-top .content, .contact.banner-top .content{position: absolute; content:""; top:50%; left:50%; width:100%; text-align: center; -webkit-transform:translate(-50%,-50%); 
    transform:translate(-50%,-50%);}
.galary-kh.banner-top .content h2.title, .news.banner-top .content h2.title, .contact.banner-top .content h2.title{font-family: 'Playfair Display'; margin: 0; font-size: 95px; color:#fff; font-weight: normal;}
.galary-kh.list-galary{padding:0 0 40px;}
.list-galary .group-galary{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;}
.list-galary .group-galary >*{position: relative; padding: 0 15px; min-height:1px; width:100%; margin: 0 0 60px; cursor: pointer;}
.list-galary .group-galary >.item:nth-child(2n+1){margin-top: -25px;}
.list-galary .group-galary >.item:nth-child(2n){margin-top: -85px;}
.list-galary .group-galary .image img{width:100%; display: block; max-height: 751px; object-fit: cover;}
.list-galary .group-galary .content{position: absolute; content: ""; left:0; bottom: 0; padding:15px 30px; width:100%; color: #fff; z-index: 2;}
.list-galary .group-galary .content h2.title{font-family: 'Playfair Display'; font-weight: normal; font-size: 36px; position: relative; color: #fff;
    padding: 0 0 10px; margin: 0 0 20px; line-height: normal; text-transform: capitalize;}
.list-galary .group-galary .content h2.title::after{content: ""; position: absolute; height: 1px; width: 100px; border-bottom: 1px solid #fff;
    left: 0; bottom: 0;}
.list-galary .group-galary .content p{opacity: 0; display: none; -webkit-transform: translate(0, 100%); -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%); transform: translate(0, 100%); transition: transform .5s; -webkit-transition: transform .5s;
    transform-style: preserve-3d;}
.list-galary .group-galary .item .box-galary{position: relative;}
.list-galary .group-galary .item .box-galary .image a{position: relative; display: block}
.list-galary .group-galary .item .box-galary .image a::before{position: absolute; content: ''; width: 100%; height: 80%; background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #252525));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%); background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%); background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #252525 100%);
    bottom: 0; left: 0; z-index: 1; backface-visibility: hidden; transition: 0.3s ease; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease;
    opacity: 0.8;}
.list-galary .group-galary .item .box-galary .image a:hover::before{opacity: 0.6;}
.list-galary .group-galary .item .box-galary:hover p{display: block; opacity: 1; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); 
    transform: translate(0, 0);}
.galary-kh.banner-top .image, .news.banner-top .image{margin: 0;}
.galary-kh.banner-top .image img, .news.banner-top .image img, .contact.banner-top .image img{display: block; min-height: 400px; object-fit: cover;}
.list-galary .load-more{text-align: center; position: relative;}
.list-galary .load-more .btn-more{display: inline-block; position: relative; color:#323232; padding:10px; background: #fff; z-index: 3;}
.list-galary .load-more::after{content:""; border-bottom:1px solid #e3e3e3; position: absolute; height:1px; width:200px; left:50%; top:50%; -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);}
.fancybox-thumbs {top: auto; width: auto; bottom: 0; left: 0; right : 0; height: 95px; padding: 10px 70px 5px 70px; box-sizing: border-box; background: rgba(0, 0, 0, 0.3);}
.fancybox-show-thumbs .fancybox-inner {right:0; bottom: 95px;}
.fancybox-thumbs-x .fancybox-thumbs__list{text-align: center; margin: 0 auto;}
.fancybox-thumbs__list a::before{border-color:#666;}
.fancybox-navigation{position: absolute; bottom: -25px; content: ""; width:100%;}
.fancybox-navigation .fancybox-button{position: absolute; content: ""; width: 40px; height: 40px; top:0;}
.fancybox-navigation button::before, .fancybox-navigation button::after{background: rgba(230,230,230,1);}
.fancybox-navigation button::before{position: absolute; content: ""; width: 40px; height: 40px; background: rgba(255,255,255,0.5);
    -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg); transform: rotate(135deg); text-align: center; left: 0; top: 0;}
.fancybox-navigation button div::before{position: absolute; text-align: center; top: 8px; left: 10px; width: 15px; height: 26px; background-repeat: no-repeat;
    content: "";}
.fancybox-navigation button.fancybox-button--arrow_left div::before{background-image: url(../images/arrow-left.png);}
.fancybox-navigation button.fancybox-button--arrow_right div::before{background-image: url(../images/arrow-right.png); left: 15px;}
.fancybox-navigation button div svg{display: none;}
.fancybox-navigation button.fancybox-button--arrow_left{left:20px;}
.fancybox-navigation button.fancybox-button--arrow_right{right:20px;}
/* Tin Tức */
.group-news, .group-contact{margin-top: -30px; padding:0 0 40px;}
.list-news .box-item{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;}
.list-news .box-item >*{position: relative; padding: 0 15px; min-height:1px; width:100%; margin: 0 0 20px;}
.news-item .news-content{background: #f5f5f5; display: -webkit-box; display: -ms-flexbox; display: flex; flex-direction: column; height:100%;}
.news-item .news-content .content{padding:30px 30px 50px;}
.news-item .news-content .content h2.news-title{font-family: 'Playfair Display'; font-weight: normal; font-size: 18px; margin:0 0 20px; color:#333333;}
.news-item .news-content .content .date{color: #999999; margin: 0 0 40px;}
.news-item .news-content .content p{margin: 0;}
.box-item .news-item.reverse .news-content{flex-direction: column-reverse;}
.group-news .list-news{overflow: hidden;}
.group-news .list-news .owl-dots{position: relative; margin-top: 40px !important;}
.group-news .list-news .owl-dots::after{position: absolute; content: ""; border-bottom:1px solid #e3e3e3; height:1px; width:300px; left:50%; top:40%; -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);}
.group-news .list-news .owl-dots button.owl-dot, .box-course .owl-dots button.owl-dot{padding: 0 8px !important; background: #fff; position: relative; z-index: 3;}
.group-news .list-news .owl-dots button.owl-dot span, .box-course .owl-dots button.owl-dot span{border-radius: 0; width:20px; height:20px; -webkit-transform: rotate(135deg); -ms-transform: rotate(135deg);
    transform: rotate(135deg); margin: 0;}
.list-news.owl-theme .owl-dots .owl-dot span{background: #f5f5f5;}
.list-news.owl-theme .owl-dots .owl-dot.active span, .list-news.owl-theme .owl-dots .owl-dot:hover span{background: #e3e3e3;}
/* Tin Tức Detail */
.content-article{margin-top: -30px; padding:0 0 40px; position: relative;}
.content-article .box-container >.image{margin: 0 0 30px;}
.content-article .box-container > .image img{width:100%;}
.content-article .content h2.title{font-family: 'Playfair Display'; font-weight: normal; line-height: normal; font-size: 40px; color: #333333; text-transform: capitalize;
    margin: 0 0 5px;}
.content-article .content .date{margin: 0 0 25px; color:#999999;}
.content-article .content >p{margin: 0 0 15px;}
.content-article .content >img{text-align: center; margin: 20px auto 20px; display: block;}
.content-article .content .group-content{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; 
    margin-right: -15px; margin-bottom: 10px;}
.content-article .content .group-content >*{position: relative; padding: 0 15px; min-height:1px; width:100%;}
.content-article .content .group-content p{margin: 0 0 10px;}
.relate-article{padding:0 0 40px;}
/* Giới Thiệu */
.content-intro{background: #f4f4f4; padding: 0 0 35px;}
.content-intro h1.title-intro{text-align: center; font-family: 'Playfair Display'; font-weight: normal; line-height: 110px; font-size: 110px; color: #5b5b5b; margin: 0px 0 30px;
    position: relative; z-index: 2; top:-100px;}
.content-intro h1.title-intro .white{color:#fff;}
/*.introduction .list-slide.owl-carousel .owl-item img{max-height:75px; min-height:750px;}*/
.content-intro .content-info{display: -webkit-box; display: -ms-flexbox; display: flex; align-items: center; margin-top: -100px;}
.content-intro .content-info .image{min-width: 245px; padding-right: 20px;}
.content-intro .content-info .image img{width: auto; height: 245px; object-fit: contain;}
.image-intro{padding:0 0 40px;}
.image-intro .list-image .row-image{display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -2px;}
.image-intro .list-image .row-image >*{position: relative; min-height:1px; width:auto; padding:0 2px; margin:0 0 4px;}
.image-intro .team{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -15px;}
.image-intro .team >*{position: relative; min-height:1px; width:100%; padding:0 15px; margin:0 0 15px;}
.image-intro .team >.content-team .box-team{padding:25px 15px 15px;}
.content-team .box-team h3.title-team{font-family: 'Playfair Display'; font-weight: normal; font-size: 35px; color:#333333; padding:0 0 20px; 
    margin: 0 0 30px; position: relative;}
.content-team .box-team h3.title-team::before{position: absolute; content: ""; border-bottom: 1px solid #5b5b5b; height: 1px; width: 120px; bottom: 0; left: 0;}
.box-course .owl-dots button:last-child::after, .box-course .owl-dots button:first-child::before{position: absolute; content: ""; border-bottom: 1px solid #fff; height: 1px; width: 60px; top:10px;}
.box-course .owl-dots button:last-child::after{ right: -70px;}
.box-course .owl-dots button:first-child::before{left:-70px;}
.box-course .owl-dots button.owl-dot span{background: #fff;}
.box-course .owl-dots button.owl-dot{background: transparent;}
.box-course .list-image, .box-course .owl-stage-outer, .box-course .owl-stage, .box-course .owl-item,  .box-course .item{height:100%;}
.popup{height: 100%; left: 0; opacity: 1; position: fixed; text-rendering: optimizeLegibility; top: 0; transition: opacity .5s ease-in-out;
    width: 100%; z-index: 1000;}
.popup .pop-up-overlay{background: rgba(0,0,0,0.65); height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1100;}
.popup .popup-content{box-shadow: 0 0 10px rgba(0,0,0,0.4); box-sizing: border-box; color: #fff; left: 50%; min-width:270px; max-width: 700px;
    padding: 0; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1110;}
.popup .popup-close{background: none; border: none; color: #fff !important; cursor: pointer; font-size: 16px; font-weight: 600; opacity: 0.6;
    position: absolute; right: -20px; top: -10px; transition: opacity 0.3s ease; margin: 0; padding: 0px;}
.popup .popup-content .content-image a, .popup .popup-content .content-image a img{display: block;}
.popup .popup-content .content-image a img{width:100%;}
.popup.hide{opacity: 0; transition: opacity .5s ease-in-out;}
/* Liên Hệ */
.contact.banner-top .content h2.title{color: #1a1919; text-transform: capitalize;}
main.content{position: relative;}
.group-contact .content-contact{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -15px; 
    margin-right: -15px;}
.group-contact .content-contact >*{position: relative; min-height:1px; width:100%; padding:0 15px; margin:0 0 15px;}
.content-contact .content-right{padding:80px 15px 0 30px;}
.content-right .contact-info{padding:0 0 35px; margin: 0 0 20px; position: relative;}
.content-right .contact-info::after{position: absolute; content:""; height:1px; width: 200px; border-bottom: 1px solid #5b5b5b; bottom:0; left: 0;}
.content-right >div h2.title{font-family: 'Playfair Display'; font-weight: normal; font-size: 35px; color:#333333; margin: 0 0 25px; line-height: normal;}
.contact-info .content-address ul{padding-left: 25px;}
.contact-info .content-address ul li{text-indent: -30px;}
.contact-info .content-address ul li img{padding-right: 15px;}
.contact-form .form-content .form-group{position: relative; margin-bottom: 15px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex;
    justify-content: space-between;}
.contact-form .form-content .form-group label{width: 180px; padding: 0 20px 0 0; display: inline-block; font-size: 16px; margin: 0 0 5px;}
.contact-form .form-content .form-group input{height: 40px; line-height: 40px; padding: 0 12px; border: 1px solid #ebebeb; background: #ebebeb; 
    width: 100% !important; font-size: 16px; max-width: 100%;}
.contact-form .form-content .form-group textarea{border: 1px solid #ebebeb; background: #ebebeb; padding:6px 12px; max-height:120px; width:100%; font-size: 16px;
    max-width: 100%;}
.contact-form .form-content .form-group.submit{text-align: right; margin-top: 30px; display: block;}
.contact-form .form-content .form-group.submit button{display: inline-block; text-transform: uppercase; font-size: 14px; text-align: center;
    padding: 10px 50px; border: 1px solid #5b5b5b; border-radius: 20px; color: #5b5b5b; letter-spacing: 2px; cursor: pointer; background: transparent;}
@media(min-width:576px){
    .list-class .list-content.item >*{-webkit-box-flex: 0; -ms-flex: 50%; flex: 0 0 50%; max-width: 50%;}
    .list-gallery .gallery-item >*{-webkit-box-flex: 0; -ms-flex: 25%; flex: 0 0 25%; max-width: 25%;}
    .list-gallery .gallery-item .four-item.item >*{-webkit-box-flex: 0; -ms-flex: 50%; flex: 0 0 50%; max-width: 50%;}
    footer.site-footer .group-footer >.footer-address{-webkit-box-flex: 0; -ms-flex: 60%; flex: 0 0 60%; max-width: 60%;}
    footer.site-footer .group-footer >.footer-map{-webkit-box-flex: 0; -ms-flex: 40%; flex: 0 0 40%; max-width: 40%;}
    .list-galary .group-galary >*{-webkit-box-flex: 0; -ms-flex: 50%; flex: 0 0 50%; max-width: 50%;}
    .list-news .box-item >*{-webkit-box-flex: 0; -ms-flex: 50%; flex: 0 0 50%; max-width: 50%;}
    
}
@media(min-width:768px){
    .other-services .list-service >*{-webkit-box-flex: 0; -ms-flex: 33.3%; flex: 0 0 33.3%; max-width: 33.3%;}
    .list-news .box-item >*{-webkit-box-flex: 0; -ms-flex: 33.3%; flex: 0 0 33.3%; max-width: 33.3%;}
    .content-article .content .group-content >.content-left{-webkit-box-flex: 0; -ms-flex: 60%; flex: 0 0 60%; max-width: 60%;}
    .content-article .content .group-content >.content-image{-webkit-box-flex: 0; -ms-flex: 40%; flex: 0 0 40%; max-width: 40%;}
    .group-contact .content-contact .content-left{-webkit-box-flex: 0; -ms-flex: 40%; flex: 0 0 40%; max-width: 40%;}
    .group-contact .content-contact .content-right{-webkit-box-flex: 0; -ms-flex: 60%; flex: 0 0 60%; max-width: 60%;}
}
@media(min-width:992px){
    .recently-course .box-course >.image{-webkit-box-flex: 0; -ms-flex: 60%; flex: 0 0 60%; max-width: 60%;}
    .recently-course .box-course >.content{-webkit-box-flex: 0; -ms-flex: 40%; flex: 0 0 40%; max-width: 40%;}
    .image-intro .team >.content-team{-webkit-box-flex: 0; -ms-flex: 33.3%; flex: 0 0 33.3%; max-width: 33.3%;}
    .image-intro .team >.image{-webkit-box-flex: 0; -ms-flex: 66.6%; flex: 0 0 66.6%; max-width: 66.6%;}
}
@media(min-width:1200px){}
@media(max-width:1500px){
    .content .intro .box-container{width:80%;}
    .list-gallery .gallery-item > .item a img{height:536px;}
    .list-gallery .gallery-item > .four-item.item a img{height:266px;}
}
@media(max-width:1199px){
    .list-gallery .gallery-item > .item a img{height:434px;}
    .list-gallery .gallery-item > .four-item.item a img{height:215px;}
    .banner-top .content h1.title{font-size: 80px;}
    .content-team .box-team h3.title-team{font-size: 30px;}
}
@media(max-width:991px){
    .content .intro .box-container{width:100%;}
    .slideshow .list-slide .item .content-item h2.title{font-size: 70px; line-height: normal;}
    header.main-header .main-menu >ul, header.main-header .main-menu >.social-right{display: none;}
    .menu-btn{width: 30px; height: 42px; position: absolute; right: 15px; display: block; top:calc(50% - 20px ); cursor: pointer; z-index: 9999;}
    .menu-btn span{position: absolute; height: 3px; display: inline-block; left: 0; right: 0; top: 50%; margin-top: -2px; background-color: #666;}
    .menu-btn::before, .menu-btn::after{position: absolute; height: 3px; display: inline-block; left: 0; right: 0; content: ""; transition: 0.5s all;
        -webkit-transition: 0.5s all; background-color: #666;}
    .menu-btn::before{top: 0%; transform: translateY(10px) rotate(0deg); -webkit-transform: translateY(10px) rotate(0deg);}
    .menu-btn::after{bottom: 0; transform: translateY(-10px) rotate(0deg); -webkit-transform: translateY(-10px) rotate(0deg);}
    body.show-main-menu{bottom: 0; left: 0; overflow: hidden; position: fixed; right: 0; top: 0; width:100%; height:100%;}
    body.show-main-menu header.main-header .main-menu >ul, body.show-main-menu .main-menu >.social-right{display: block;}
    body.show-main-menu .menu-btn::before {transform: translateY(20px) rotate(-45deg); -webkit-transform: translateY(20px) rotate(-45deg);}
    body.show-main-menu .menu-btn span {background: none !important;}
    body.show-main-menu .menu-btn::after {transform: translateY(-19px) rotate(45deg); -webkit-transform: translateY(-19px) rotate(45deg);}
    body.show-main-menu header.main-header .main-menu{width: 100%; background: #ffff; position: fixed; left: 0; top: 0; display: block; bottom: 0;
        z-index: 99; overflow: hidden; right: 0; margin: 0; padding: 180px 30px 0 30px;}
    /*body.show-main-menu header.main-header .main-menu, body.show-main-menu header.main-header .main-menu ul{text-align: left;}*/
    body.show-main-menu header.main-header .main-menu ul > li{display: block; padding: 0; margin:0 0 1.25rem 0;}
    body.show-main-menu header.main-header .main-menu > .social-right{float: none;}
    body.show-main-menu header.main-header .main-menu ul > li >a{font-size: 30px; line-height: normal;}
    .list-gallery .gallery-item > .item a img{height:355px;}
    .list-gallery .gallery-item > .four-item.item a img{height:175px;}
    .list-feedback .item{width:100%;}
    .recently-course .box-course > .image img{height:auto;}
    .list-feedback .owl-nav button{opacity: 0 !important;}
    .list-feedback .owl-nav button:hover{opacity: 1 !important;}
    .banner-top .content h1.title{font-size: 60px;}
    .banner-top .content{width:100%;}
    .galary-kh.banner-top .content h2.title, .news.banner-top .content h2.title, .contact.banner-top .content h2.title{font-size: 60px;}
    .image-intro .team > .content-team .box-team{padding: 25px 0px 15px;}
}
@media(min-width: 768px) and (max-width:991px){
    .content-intro .content-info{flex-direction: column;}
    .content-intro .content-info .image{padding: 0; margin: 0 0 20px; text-align: center;}
    .contact-form .form-content .form-group{flex-direction: column;}
    .contact-form .form-content .form-group label{width:100%; padding: 0;}
}
@media(max-width:767px){
    .desktop{display: none;}
    .mobile{display: block;}
    .list-class .list-top.item{margin-top: 20px;}
    .content .intro{padding:40px 0;}
    .list-class .item .arrow img{width: 64px; height: 20px; object-fit: contain;}
    .list-class .list-top.item .arrow,
    .list-class .item .arrow{/*left: -150px; -webkit-transform: rotate(-90deg) translate(43%,-50%); transform: rotate(-90deg) translate(43%,-50%);*/ display: none;}
    .list-class .list-content.item .image{margin-top:0;}
    /*.list-class .list-content.item:nth-child(2n) .arrow{right:-170px; -webkit-transform: rotate(-90deg) translate(60%,-50%); transform: rotate(-90deg) translate(60%,-50%);}
    .list-class .list-content.item:nth-child(2n+1) .arrow{left: -135px; -webkit-transform: rotate(-90deg) translate(68%,-50%); transform: rotate(-90deg) translate(68%,-50%);}*/
    .slideshow .list-slide .item .content-item h2.title{font-size: 50px;}
    .content .intro h2.title{font-size: 40px;}
    .list-class .item .content h3.title{font-size: 25px;}
    .list-gallery h2.title{font-size: 25px;}
    footer.site-footer .group-footer .footer-top{flex-direction: column; padding-bottom: 20px; border:0 none;}
    footer.site-footer .group-footer .footer-top .logo-footer{padding:0; margin: 0 0 10px;}
    footer.site-footer .group-footer .footer-map{padding-top:20px; padding-bottom: 20px; margin: 0 0 20px; border-bottom: 1px solid #d8d8d8; border-top: 1px solid #d8d8d8;}
    footer.site-footer .group-footer .footer-copyright{padding: 0px 15px 0 15px;}
    .list-feedback .item{flex-direction: column;}
    .list-feedback .item .image{text-align: center; margin: 0 auto 20px; min-width:auto; padding: 0;}
    .list-feedback .box-content::before{left:0; top:-35px;}
    .list-feedback .box-content h4.position{margin: 0 0 15px;}
    .other-services .list-service .group-btn{margin: 15px 0 0;}
    .recently-course, .feedback-hv{padding:40px 0;}
    .other-services{padding:0 0 40px;}
    .form-register.fancybox-content{padding: 30px 15px 15px; width: 320px;}
    .form-register h2.title{font-size: 25px;}
    .galary-kh.banner-top .image img, .news.banner-top .image img, .slideshow .list-slide .item img, .contact.banner-top .image img{min-height:300px;}
    .box-item .news-item.reverse .news-content{flex-direction: column;}
    .content-article .content .group-content .content-image{text-align: center;}
    .content-article .box-container > .image{margin: 0 0 20px;}
    .content-intro h1.title-intro{font-size: 60px; line-height: 60px; top: -55px;}
    .content-intro .content-info{margin-top: -55px;}
    .group-contact .content-contact >.content-left{text-align: center;}
    .content-contact .content-right{padding: 0px 15px 0 15px;}
    .form-register .form-content .form-group{flex-direction: column;}
    .form-register .form-content .form-group label{width: 100%; padding:0;}
    .form-register .form-content .form-group input, .form-register .form-content .form-group select{width:100%;}
    .form-register .form-content .form-group.select::after{top:auto; bottom: 10px;}
}
@media(max-width:575px){
    .list-gallery .gallery-item >.item img{width:100%; object-fit: cover;}
    .list-class .list-content.item:nth-child(2n) .content{text-align: left;}
    .list-class .list-content.item:nth-child(2n) .content h3.title::after{left:0; right:auto;}
    .list-class .item .content{padding: 15px 0 0 15px;}
    .list-gallery .gallery-item .four-item.item >a:nth-last-child(2) img, .list-gallery .gallery-item .four-item.item >a:last-child img{height:auto;}
    .list-gallery{margin: 50px 0 40px 0px;}
    .list-gallery .gallery-item .four-item.item > *{padding: 0; margin:0 0 10px;}
    .list-gallery .gallery-item > *{margin: 0 0 10px;}
    .list-gallery .gallery-item .four-item.item > a:nth-last-child(2){margin: 0 0 10px;}
    .recently-course .box-course > .content{padding: 25px 15px 15px;}
    .recently-course .box-course > .content h3.title{margin: 0 0 20px;}
    .recently-course .box-course > .content .date{margin: 0 0 10px;}
    .banner-top .content h1.title, .galary-kh.banner-top .content h2.title, .news.banner-top .content h2.title,
    .contact.banner-top .content h2.title{font-size: 40px;}
    .list-gallery .gallery-item > .four-item.item a img, .list-gallery .gallery-item > .item a img{height:auto;}
    .list-galary .group-galary > .item:nth-child(2n+1), .list-galary .group-galary > .item:nth-child(2n){margin: 0 0 20px;}
    .galary-kh.list-galary{padding:20px 0;}
    .galary-kh.banner-top .image img, .news.banner-top .image img, .slideshow .list-slide .item img,
    .contact.banner-top .image img{min-height: 200px;}
    .group-news, .content-article, .group-contact{margin-top: 0; padding:20px 0;}
    .group-news .list-news .owl-dots{margin-top: 20px !important;}
    .box-item .news-item .news-content .image img{width:100%;}
    .content-article .content h2.title{font-size: 30px;}
    .relate-article, .image-intro, .content-intro{padding:0 0 20px;}
    .content-intro .content-info{flex-direction: column;}
    .content-intro .content-info .image{padding: 0; margin: 0 0 20px; text-align: center;}
    .contact-form .form-content .form-group{flex-direction: column;}
    .contact-form .form-content .form-group label{width:100%; padding: 0;}
}
@media(max-width:480px){
    .slideshow .list-slide .item .content-item h2.title{font-size: 40px; margin: 0 0 20px;}
    .content .intro h2.title{font-size: 30px;}
    .list-slide .owl-nav button.owl-prev{left:5px;}
    .list-slide .owl-nav button.owl-next{right:5px;}
    .banner-top .content h1.title, .galary-kh.banner-top .content h2.title, .news.banner-top .content h2.title{font-size: 30px;}
    .form-register .form-content .form-group label{display: block; min-width:auto; padding: 0;}
    .form-register .form-content .form-group.select::after{top:auto; bottom: 15px;}
    .form-register .form-content .form-group input, .form-register .form-content .form-group select{width:100%;}
    .form-register .form-content .form-group.submit button{padding:10px 30px;}
    .news-item .news-content .content{padding: 15px 15px 25px;}
    .news-item .news-content .content h2.news-title{margin: 0 0 10px;}
    .news-item .news-content .content .date{margin: 0 0 20px;}
    .content-intro h1.title-intro{font-size: 45px; line-height: 45px; top: -41px;}
    .content-intro .content-info{margin-top: -41px;}
}
@media(max-width: 400px){
    .slideshow .list-slide .item .content-item h2.title{font-size: 25px;}
    .slideshow .list-slide .item .content-item a.btn-detail{padding:5px 20px;}
    .list-class .item .arrow span.content-arrow{display: none;}
    .list-class .box-container > ul{width:100%;}
}
@media(max-width: 375px){
    .banner-top .content h1.title, .galary-kh.banner-top .content h2.title, .news.banner-top .content h2.title{font-size: 25px;}
}
@media(max-width: 360px){
    .content-intro h1.title-intro{font-size: 40px; top: -40px;}
    .content-intro .content-info{margin-top: -40px;}
    .form-register.fancybox-content{min-width:300px;}
}
.detail-post{
    text-align: center;
}
.detail-post img{
    width: auto !important;
}
.alert p{
    color: red;
}
/*#course, #name, #phone{
    width: 77%;
}*/